services:
  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    env_file: ./backend/.env
    ports:
      - "4000:4000"
    volumes:
      - ./backend/uploads:/app/uploads
    command: >
      sh -c "npm start"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      VITE_API_URL: "http://backend:4000"

# Plus de DB locale
# Plus de phpMyAdmin local

volumes:
  db_data:
